@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=IBM+Plex+Arabic:wght@100;200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
  --color-teal: #0D7C70;
  --color-teal-dark: #085950;
  --color-amber: #B45309;
  --color-gold: #C9A84C;
  
  --font-ku: "IBM Plex Arabic", sans-serif;
  --font-en: "DM Sans", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

@layer base {
  body {
    @apply transition-colors duration-300;
  }
}
